:root {
	/* COLORS */
	--white: #e9e9e9;
	--gray: #333;
	--blue: #0367a6;
	--lightblue: #008997;

	/* RADII */
	--button-radius: 0.7rem;

	/* SIZES */
	--max-width: 758px;
	--max-height: 420px;

	font-size: 12px;
	/* // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
	// 	Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
}

body,
html {
	width: 100%;
	height: 100%;
	background-color: var(--gray);
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.content {
	width: 65em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	position: absolute;
	top: 15%;
	left: 46%;
	margin-left: -30em;
	background-color: var(--white);
	border-radius: var(--button-radius);
	box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
		0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
	padding: 1em;
}

.facebook {
	width: 250px;
	height: 55px;
}

.creation {
	display: flex;
	flex-direction: row;
}

.form {
	flex: 0.5;
}

.preview {
	flex: 0.5;
	border: 2px white solid;
	border-radius: 50px;
	padding: 2em;
	$primary-color: rgb(6, 40, 61);
	$secondary-color: #689384;
	$tertiary-color: #5a4741;
	$quaternary-color: #fff;
	$ff: 'Edu NSW ACT Foundation',
	cursive;
	background-color: var(--secondary-color);
	color: var(--quaternary-color);
	font-family: var(--ff);

	&__main {
		color: var(--quaternary-color);
		margin-left: 10%;
		margin-right: 10%;
		margin-top: -10px;
		border: solid var(--tertiary-color) 0.5px;
		background-color: var(--tertiary-color);
		border-radius: 20px;
		padding: 20px;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex-wrap: nowrap;
		align-items: center;
	}

	&__article {
		width: 90%;
		margin: 10px;
		height: 200px;
		border-radius: 10px;
		background-image: url('../../images/img_placeholder.PNG');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;

		&:hover {
			-webkit-filter: grayscale(0);
			filter: grayscale(0);
			box-shadow: 10px 10px 10px var(--secondary-color);
		}
	}

	&__h3 {
		padding-top: 10px;
		text-transform: uppercase;
		margin: 0;
		font-size: 2rem;
		white-space: wrap;
	}

	&__p {
		display: none;
	}

	&__nav {
		border: 0 none;
		margin: 0;
		padding: 0;
		margin-top: -1.2em;
	}

	&__anchor {
		background-color: var(--secondary-color);
		// display: block;
		color: var(--quaternary-color);
		text-decoration: none;
		padding: 0.5em;
		position: relative;

		&:hover {
			background-color: var(--tertiary-color);
			color: var(--quaternary-color);
			cursor: default;
		}
	}

	&__h1,
	&__h2 {
		display: none;
	}

}

.title-area {
	width: 90vw;
	height: 2.5rem;
}

.btn {
	background-color: var(--blue);
	background-image: linear-gradient(90deg, var(--blue) 0%, var(--lightblue) 74%);
	border-radius: 20px;
	border: 1px solid var(--blue);
	color: var(--white);
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 4rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.btn .cat {
	margin: 2px;
}

.btn:active {
	transform: scale(0.95);
}

.btn:focus {
	outline: none;
}

.title {
	font-size: 2em;
	width: 100%;
	border-radius: var(--button-radius);
	box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
		0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
	margin-bottom: 1em;
	background-color: var(--gray);
	color: #fff;
}

.btn-container {
	margin-top: 5px;
}